<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXml" version="2.18.0" targetFramework="net48" />
  <package id="Xceed.Document.NET" version="2.3.22263.20500" targetFramework="net48" />
  <package id="Xceed.Pdf" version="2.3.22263.20500" targetFramework="net48" />
  <package id="Xceed.Words.NET" version="2.3.22263.20500" targetFramework="net48" />
</packages>